name: Build

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run migrations
        run: DATABASE_URL="file:./dev.db" bun db:migrate

      - name: Lint
        run: bun lint

#  deploy:
#    runs-on: ubuntu-latest
#    needs: test
#    if: github.ref == 'refs/heads/main'
#
#    steps:
#      - name: SSH
#        uses: appleboy/ssh-action@master
#        with:
#          host: tickr.jschneidler.com
#          username: root
#          key: ${{ secrets.PRIVATE_KEY }}
#          script: |
#            cd tickr-server
#            git pull
#            docker compose up --build -d
#            docker image prune -f